.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar {
  background-color: rgba(191, 139, 228, 0.94) !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold !important;
}
.nav-link {
  color: white !important;
}
.content {
    padding-top: 80px;
}
.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(219, 196, 235, 0.612);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
button {
  background-color: rgba(191, 139, 228, 0.94);
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.541);
  color:white;
  padding: 5px;
  font-weight: bold !important;
}
button:hover{
  background-color: violet;
}
.loader{
  z-index: 99999;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner-border{
  height: 100px;
  width: 100px;
}
a{
  text-decoration: none;
}